@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
  font-family: Abel, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ebe0e02f;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  box-sizing: border-box;
  height: 100vh;
}

.display {
  margin: 0 auto;
}

input[type='text'] {
  display: block;
  margin-bottom: 5px;
  height: 3em;
  width: 100%;
  box-shadow: 7px -4px 67px -21px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px -4px 67px -21px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px -4px 67px -21px rgba(0, 0, 0, 0.75);
}

input[type='button'] {
  padding: 15px;
  width: 30%;
  font-weight: bold;
  margin-right: 0%;
}

.btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.form {
  width: 50%;
}
